* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 70px);
}

.sidebar {
    background-color: #4a3f3a;
    color: white;
    width: 250px;
    padding: 20px;
    position: fixed;
    height: 100%;
    transition: width 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
 
}

.sidebar nav ul{
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #3a4a47; 
    transform: translateX(5px); 
}

.main-content {
    margin-left: 250px; 
    padding: 20px;
    flex-grow: 1;
    background-color: #fff;
    transition: margin-left 0.3s;
}

header {
    margin-bottom: 20px;
}

header h1 {
    color: #4a3f3a;
    text-align: center;
}

.dashboard-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card h3 {
    margin-top: 0;
    color: #4a3f3a;
}

.card p {
    color: #555;
}

.card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4a3f3a;
    color: white;
    position: relative;
    width: 100%;
}


@media (max-width: 768px) {
    .sidebar {
        width: 200px; 
    }

    .main-content {
        margin-left: 200px; 
    }
}

@media (max-width: 576px) {
    .dashboard-container {
        flex-direction: column; 
    }

    .sidebar {
        width: 100%; 
        position: relative; 
        height: auto; 
    }

    .main-content {
        margin-left: 0; 
        padding: 10px; 
    }

    .card {
        padding: 15px; 
    }
}
